/* Container */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 1350px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; /* 추가: relative 위치 설정 */
  min-height: 1600px; 
}

.menuArea {
  position: absolute;
  background-color: #E37B58;
  width: 100%;
  height: 1300px;  
}
.menuArea.menuAreaFixedHeight {
  height: auto; /* 혹은 다른 원하는 높이로 설정하세요. */
  position: fixed;
}

.button > a, button{
  left: 3%;
  position: absolute;
  border-radius: 20px;
  height: 60px;
  width: 60px;  
}
.menuAreaButton {
  top: 60px;
  border: none;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center; /* 이미지를 배경으로 설정 */
  background-size: cover; /* 배경 이미지를 요소에 맞게 조정 */
}

.msgButton {
  top: 260px;
  background: no-repeat center center;
}
.friendButton {
  top: 350px;
  background: no-repeat center center;
}
.frendeButton {
  border: none;
  background-color: none;
  color: none;
}
.button3 {
  top: 450px;
  background: no-repeat center center; 
}
.acornButton {
  top: 550px;
  background: no-repeat center center; 
}
.settingButton {
  top: 650px;
  background: no-repeat center center;
}
.helpButton {
  top: 1150px;
  background: no-repeat center center;
}
.searchZoon {
  position: absolute;
  width: 50%;
  height: 60px;
  top: 60px;
  left: 325px;
}
.homeButton {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 25%;
  left: 30px;
}
.search {
 position: absolute;
 z-index: 2;
 width: 92%;
 height: 60px;
 border-radius: 20px;
 border: none;
 padding-left: 8%;
}
.searchImg {
  position: absolute;
  z-index: 2;
  width: 40px;
  top: 10px;
  left: 94%;
  text-align: right;
}
.imgeSlide {
  position: absolute;
  width: 50%;
  height: 450px;
  top: 200px;
  left: 325px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.listDot{
  z-index: 3;
  position: absolute;
  width: 90%;
  height: 20%;
  top: 0;
  text-align: right;
}
.listDot > ul {
  padding: 0; /* 내부 간격 제거 */
  display: flex; /* Flexbox 사용 */
  justify-content: flex-end;
  list-style: none;

}
.listDot > ul >  li::before {
  content: '●'; /* 사용자 정의 마커, 여기서는 점을 사용 */
  color: #000; /* 원하는 색상으로 설정 */
  font-size: 1em; /* 원하는 크기로 설정 */
  margin-right: 10px; /* 동그라미와 텍스트 사이 간격 조절 */
}
.listDot > ul > .dot2::before {
  content: '○'; /* 사용자 정의 마커, 여기서는 점을 사용 */
  color: #000; /* 원하는 색상으로 설정 */
  font-size: 1em; /* 원하는 크기로 설정 */
  margin-right: 10px; /* 동그라미와 텍스트 사이 간격 조절 */
}

.listDot > ul > li {
  line-height: 8px;
}

.imges img {
  max-width: 100%;
  max-height: 100%;
}

.imges{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 89%;
  border-radius: 50px 50px 0 0;
  background-color: rgb(172, 231, 209);
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  text-align: center;
  line-height: 300px;

}

.startZoon {
  z-index: 2;
  border: 1px solid red;
  position: absolute;
  width: 100%;
  top: 70%;
  height: 30%;
  background-color: #E37B58;
  border-radius: 50px;
}
.startButton {
  z-index: 2;
  position: absolute;
  width: 20%;
  height: 70%;
  top: 15%;
  left: 74%;
}
.startButton button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F1ECE2;
  border: none;
  border-radius: 100px;

  font-size: 2em;
}
.boxZoon {
  position: absolute;
  width: 50%;
  height: 300px;
  top: 730px;
  left: 325px;
}
.box1 {
  z-index: 2;
  background-color: gray;
  border-radius: 50px;
  position: absolute;
  width: 500px;
  height: 100%;
  left: 0;
  
}
.box2 {
  z-index: 2;
  background-color: gray;
  border: none;
  border-radius: 50px;
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
}


.mainArea {
  position: absolute;
  left: 0;
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #F1ECE2;
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(13%);
      border-radius: 100px 0 0 100px;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(12%);
      border-radius: 100px 0 0 100px;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}

/* 추가된 부분 */
.mainAreaMenuButton {
  opacity: 1;
  position: absolute;
  border-radius: 20px;
  top: 60px;  
  left: 3%;
  height: 60px;
  width: 60px;
  transition: opacity 1s; /* 투명도 변화에 대한 트랜지션 설정 */
}

.mainAreaMenuButton.menuAreaMenuButtonHidden {
  opacity: 0; /* 숨김 상태에서는 투명하게 */
  pointer-events: none; /* 이벤트를 비활성화하여 숨겨진 상태에서의 클릭 이벤트를 방지 */
}


.subArea {
  position: absolute;
  left: 70%;
  top: 0;
  width: 32%;
  height: 100%;
  background-color: #F1ECE2;
}

.ClientInformationZoon {
    z-index: 2;
    z-index: 2;
    position: fixed;
    background-color: #f7e2a8;
    border-radius: 50px 0 0 50px;
    width: 100%;
    left: calc(100% - 0px);
    height: 250px;
}
.ClientInformationZoon.ClientInformationMoveLeft {
  animation: ClientInformationMoveLeft 1s ease-in-out forwards;
}
.ClientInformationZoon.ClientInformationMoveRight {
  animation: ClientInformationMoveRight 1s ease-in-out forwards;
}
.ClientInformationZoon.ClientInformationMoveDown{
  animation: ClientInformationMoveDown 1s ease-in-out forwards;
}
.ClientInformationZoon.ClientInformationMoveUp {
  animation: ClientInformationMoveUp 1s ease-in-out forwards;
}
.ClientInformationZoon.ClientInformationMoveUpRight {
  animation: ClientInformationMoveUpRight 1s ease-in-out forwards;
}
@keyframes ClientInformationMoveLeft {
  0% {
    position: absolute;
  }
  1% {
    transform: translateX(0);
  }
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}
@keyframes ClientInformationMoveRight {
  0% {
    transform: translateX(-100%);
    position: absolute;
  }
  99% {
    transform: translateX(0);
    position: absolute;
  }
  100% {

    position: fixed;
  }
}
@keyframes ClientInformationMoveDown {
  0% {
    transform: translateX(-100%);
    position: absolute;
    height: 250px;
  }
  100% {
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
  }
}

@keyframes ClientInformationMoveUp {
  0% {
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
  }
  100% {
    position: absolute;
    transform: translateX(-100%);
    height: 250px;
  }
}
@keyframes ClientInformationMoveUpRight {
  0% {
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
  }
  99% {
    transform: translateX(0);
    height: 250px;
    position: absolute;
  }
  100% {
    position: fixed;
  }
}

 .ClientImagZoon {
  position: absolute;
  background-color: rgb(172, 231, 209);
  border-radius: 30px;
  width: 160px;
  height: 160px;
  top: 45px;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .ClinetNameZoon {
  border: 1px solid black;
  position: absolute;
  width: 55%;
  line-height: 90px;
  top: 45px;
  top: 45px;
  left: 240px;
  display: flex;
  align-items: center;

  font-size: 5em;
  font-weight: bolder;
  text-align: left;
 }

 .readMoreButton, .logOutButton, .logOutButtonZoon {
  position: absolute;
  background-color: #E37B58;
  border: none;
  width: 55%;
  height: 45px;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-decoration: none; /* 텍스트에 밑줄 제거 */
}

.readMoreButton {
  top: 160px;
  left: 240px;
}

.logOutButton {
  bottom: 30px;
  left: 240px;
  opacity: 0;
  background-color: none;
}
.logOutButton.logOutButtonHidden {
  pointer-events: none;
}
.logOutButton.logOutButtonHiddenAniOn {
  animation: logOutButtonHiddenAniOn 1.2s linear forwards;
}
.logOutButton.logOutButtonHiddenAniOff {
  animation: logOutButtonHiddenAniOff 1s linear forwards;
}
@keyframes logOutButtonHiddenAniOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logOutButtonHiddenAniOff {
  0% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.readMoreButton:hover, .logOutButton:hover, .logOutButtonZoon:hover {
  background-color: #FF6347; /* 호버시 배경색 변경 */
}



 footer {
  position: absolute; /* 변경: position을 absolute로 설정 */
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 150px;
}




