/* Container */
body {
  margin: 0;
  padding: 0;
}
/* -----------------------Container-------------------- */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; 
}
.button, .button > a, .button > button, .searchZoon, .homeButton, .imgeSlide, .mainArea, .mainAreaMenuButton, .subArea, .listDot, .listDot > div  {
  position: inherit;
}
/* -----------------------menuArea---------------------------------- */
.menuArea {
  position: absolute;
  width: inherit;
  height: 100vh;
  background-color: #886F5C;
}
/* -------------------------button------------------------------ */
.button {
  width: 9vw;
  height: 100vh;
}
.button > a, .button > button, .mainArea > .mainAreaMenuButton{
  left: 3vw;
  border-radius: 0vw;
  height: 3vw;
  width: 3vw;
  background-size: cover;
  cursor: pointer;
}
.menuAreaButton {
  top: 5%;
  border: none;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center; /* 이미지를 배경으로 설정 */
}
.msgButton {
  top: 20%;
  background: url('../img/icons8-통신-50.png') no-repeat center center;
}
.friendButton {
  top: 30%;
  background: url('../img/icons8-상업-개발-관리-48.png') no-repeat center center;
}
.button3 {
  top: 40%;
  background: url('../img/icons8-텍스트-파일-편집-50.png') no-repeat center center; 
}
.acornButton {
  top: 50%;
  background: url('../img/icons8-너트-64.png') no-repeat center center; 
}
.settingButton {
  top: 60%;
  background: url('../img/icons8-설정-50.png') no-repeat center center;
}
.helpButton {
  top: 83%;
  background: url('../img/icons8-도움-50.png') no-repeat center center;
}
.logoutButton{
  position: absolute;

  height: 3vw;
  width: 3vw;
  left: 2.7vw;
  cursor: pointer;
  bottom: 5%;
  line-height: 3vw;
  background: url('') no-repeat center center;
  background-size: cover;
  font-size: 1vw;
  font-weight: bold;
}
.logoutButton:hover{
  color: red;
}
/* -------------------------------homeButton----------------------- */
.homeButton{
 width: 15vw;
 height: 10%;
 left: 10vw;
 top: 2vh;
 z-index: 2;

 line-height: 6vw;
 font-size: 4vw;
 color: black;
 font-weight: bold;
 text-decoration: none;
}
/* -------------------------------nameZoon----------------------- */
.nameZoon{
  position: absolute;
  width: 50vw;
  height: 20%;
  top: 20%;
  left: 15vw;
  z-index: 3;
  border: 1px solid black;

 }
/* -------------------------------IntroductionZoon----------------------- */
.IntroductionZoon{
  position: absolute;
  width: 50vw;
  height: 30%;
  top: 45%;
  left: 15vw;
  z-index: 3;
  border: 1px solid black;
 }
 /* -------------------------------startButtonZoon----------------------- */
.startButtonZoon {
  position: absolute;
  background-color: white;
  width: 20vw;
  height: 13%;
  top: 77%;
  left: 30vw;
  z-index: 3;
  border-radius: 2vw;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6)
}
 .startButton{
  position: absolute;
  left: 33%;
  top: 20%;
  z-index: 3;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  color: #4D2E27;
 }

/*  */

.mainArea {
  left: 0;
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #D2C4B2;
  box-shadow: 0 0 1vh rgb(0, 0, 0);
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(13%);
      border-radius: 100px 0 0 100px;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(12%);
      border-radius: 100px 0 0 100px;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}

/* 추가된 부분 */
.mainAreaMenuButton {
  opacity: 1;
  position: absolute;
  border-radius: 20px;
  top: 5%;  
  left: 3%;
  height: 60px;
  width: 60px;
  transition: opacity 1s; /* 투명도 변화에 대한 트랜지션 설정 */
}

.mainAreaMenuButton.menuAreaMenuButtonHidden {
  opacity: 0; /* 숨김 상태에서는 투명하게 */
  pointer-events: none; /* 이벤트를 비활성화하여 숨겨진 상태에서의 클릭 이벤트를 방지 */
}

/* -------------------------------subArea----------------------- */
.subArea {
  position: absolute;
  left: 70%;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #D2C4B2;
}

/* -------------------------------imgeSlide----------------------- */
.imgeSlide {
  position: absolute;
  width: 100%;
  height: 70%;
  right: 0%;
  bottom: 10%;
  z-index: 2;
  border: 1px solid black;
}

/* ----------------------------footer------------------------------- */
footer {
  bottom: 0vh;
  height: 40vh;
  left: 0;
  width: inherit;
  text-align: center;
  line-height: 20vh;
  background-color: #1c1c1c;
  box-shadow: 0 3vw 20vw black;
  font-size: 1.2vw;

  color: white;
  margin: 0;
  padding: 0;
}
footer > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}



