/* Container */
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 1350px;
}

.bigcontainer{
  border: 1px solid hotpink;
  position: relative;
  width: 100%;
  display: flex;
  min-height: 3200px; 
}

.container {
  width: 100%;
  display: flex;
  position: absolute; /* 추가: relative 위치 설정 */
  min-height: 1300px; 

  border: 1px solid blue;
}

.menuArea {
  position: absolute;
  background-color: #E37B58;
  width: 100%;
  height: 1300px;  
}
.menuArea.menuAreaFixedHeight {
  height: auto; /* 혹은 다른 원하는 높이로 설정하세요. */
  position: fixed;
}

.button > a, button{
  left: 3%;
  position: absolute;
  border-radius: 20px;
  height: 60px;
  width: 60px;  
}
.menuAreaButton {
  top: 60px;
  border: none;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center; /* 이미지를 배경으로 설정 */
  background-size: cover; /* 배경 이미지를 요소에 맞게 조정 */
}
.menuAreaButton:hover {
  cursor: pointer;
}

.msgButton {
  top: 260px;
  background: no-repeat center center;
}
.friendButton {
  top: 350px;
  background: no-repeat center center;
}
.frendeButton {
  border: none;
  background-color: none;
  color: none;
}
.button3 {
  top: 450px;
  background: no-repeat center center; 
}
.acornButton {
  top: 550px;
  background: no-repeat center center; 
}
.settingButton {
  top: 650px;
  background: no-repeat center center;
}
.helpButton {
  top: 1150px;
  background: no-repeat center center;
}
.imgeSlide {
  position: absolute;
  width: 70%;
  height: 700px;
  top: 300px;
  left: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imges{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  text-align: center;
  line-height: 300px;

}
.imges img {
  width: 250%;
  height: 200%;
}

.mainArea {
  position: absolute;
  left: 0;
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #F1ECE2;
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(13%);
      border-radius: 100px 0 0 100px;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(12%);
      border-radius: 100px 0 0 100px;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}

/* 추가된 부분 */
.mainAreaMenuButton {
  opacity: 1;
  position: absolute;
  border-radius: 20px;
  top: 60px;  
  left: 3%;
  height: 60px;
  width: 60px;
  transition: opacity 1s; /* 투명도 변화에 대한 트랜지션 설정 */
}
.mainAreaMenuButton:hover {
  cursor: pointer;
}

.mainAreaMenuButton.menuAreaMenuButtonHidden {
  opacity: 0; /* 숨김 상태에서는 투명하게 */
  pointer-events: none; /* 이벤트를 비활성화하여 숨겨진 상태에서의 클릭 이벤트를 방지 */
}


.subArea {
  position: absolute;
  right: 0;
  top: 0;
  width: 32%;
  height: 100%;
  background-color: #F1ECE2;
}

.loginZoon {
    z-index: 2;
    z-index: 2;
    position: fixed;
    background-color: #f7e2a8;
    border-radius: 50px 0 0 50px;
    width: 100%;
    left: calc(100% - 0px);
    height: 170px;
}
.loginZoon.loginZoonMoveLeft {
  animation: loginZoonMoveLeft 1s ease-in-out forwards;
}
.loginZoon.loginZoonMoveRight {
  animation: loginZoonMoveRight 1s ease-in-out forwards;
}

@keyframes loginZoonMoveLeft {
  0% {
    position: absolute;
  }
  1% {
    transform: translateX(0);
  }
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}
@keyframes loginZoonMoveRight {
  0% {
    transform: translateX(-100%);
    position: absolute;
  }
  99% {
    transform: translateX(0);
    position: absolute;
  }
  100% {

    position: fixed;
  }
}

 .loginButton {
  position: absolute;
  background-color: #E37B58;
  border: none;
  width: 55%;
  height: 100px;
  top: 35px;
  left: 120px;
  border-radius: 25px;

  color: white;
  font-size: 3em;
  font-weight: bolder;
 }

 .container2 {
  background-color: skyblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 1300px; 
  top: 1300px;

  border: 1px solid black;
 }
 .top {
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 15%;
  top: 300px;
  z-index: 3;

  background-color: skyblue;
 }
 .bottom{
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 15%;
  bottom: 300px;
  z-index: 3;

  background-color: skyblue;
 }
 .imgsZoon {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  z-index: 2;
 }
 .imgsZoon > div, .imgsZoon > img{
  width: 500px;
  height: 500px;
  top: 150px;
 }
  .img1 {
  background-color: blueviolet;
 }
 .img1.imgNumber1Move1 {
  animation: imgNumber1Move1 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move2 {
  animation: imgNumber1Move2 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move3 {
  animation: imgNumber1Move3 1s ease-in-out forwards;
 }

 .img2 {
  background-color: #E37B58;
 }
 .img2.imgNumber2Move1 {
  animation: imgNumber2Move1 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move2 {
  animation: imgNumber2Move2 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move3 {
  animation: imgNumber2Move3 1s ease-in-out forwards;
 }

 .img3 {
  background-color: aquamarine;
 }
 .img3.imgNumber3Move1 {
  animation: imgNumber3Move1 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move2 {
  animation: imgNumber3Move2 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move3 {
  animation: imgNumber3Move3 1s ease-in-out forwards;
 }

 @keyframes imgNumber1Move1 {
  0% {
    transform: translateX(13%);
    z-index: 2;

  }
  100% {
    transform: translateX(140%);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move2 {
  0% {
    transform: translateX(140%);
    z-index: 2;

  }
  100% {
    transform: translateX(281%);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move3 {
  0% {
    transform: translateX(281%);
    z-index: 1;

  }
  100% {
    transform: translateX(0%);
    z-index: 1;
  }
 }


 @keyframes imgNumber2Move1 {
  0% {
    transform: translateX(-141%);
    z-index: 2;
  }
  100% {
    transform: translateX(0%);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move2 {
  0% {
    transform: translateX(13%);
    z-index: 2;
  }
  100% {
    transform: translateX(140%);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move3 {
  0% {
    transform: translateX(140%);
    z-index: 1;
  }
  100% {
    transform: translateX(-141%);
    z-index: 1;
  }
 }

 @keyframes imgNumber3Move1 {
  0% {
    transform: translateX(-280%);
    z-index: 2;

  }
  100% {
    transform: translateX(-135%);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move2 {
  0% {
    transform: translateX(-135%);
    z-index: 2;

  }
  100% {
    transform: translateX(12%);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move3 {
  0% {
    transform: translateX(13%);
    z-index: 1;

  }
  100% {
    transform: translateX(-280%);
    z-index: 1;
  }
 }

 .container2ButtomZoon {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30%;
  bottom: 0;
  display: flex;
  justify-content: center; /* 가운데 정렬을 활성화합니다. */
  align-items: center;
 }
 .lefttMoveButton,  .rightMoveButton:hover {
  cursor: pointer;
 }
 .lefttMoveButton {
  position: absolute;
  left: 30%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 3em;
  border: none;
 }
 .rightMoveButton {
  position: absolute;
  left: 70%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 3em;
  border: none;
 }
 footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 150px;
}




