/* Container */
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 1350px;
}

.bigcontainer{
  position: relative;
  width: 100%;
  display: flex;
  height: 3000px; 
  margin: 0;
  padding: 0;
}

.container {
  width: inherit;
  display: flex;
  position: absolute; /* 추가: relative 위치 설정 */
  height: 1300px; 
  margin: 0;
  padding: 0;
}

.menuArea {
  position: absolute;
  background-color: #E37B58;
  width: inherit;
  height: inherit;  
}

.button > a, button{
  left: 3%;
  position: absolute;
  border-radius: 20px;
  height: 60px;
  width: 60px;  
}
.menuAreaButton {
  top: 5%;
  border: none;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center; /* 이미지를 배경으로 설정 */
  background-size: cover; /* 배경 이미지를 요소에 맞게 조정 */
}
.menuAreaButton:hover {
  cursor: pointer;
}

.msgButton {
  top: 260px;
  background: no-repeat center center;
}
.friendButton {
  top: 350px;
  background: no-repeat center center;
}
.button3 {
  top: 450px;
  background: no-repeat center center; 
}
.acornButton {
  top: 550px;
  background: no-repeat center center; 
}
.settingButton {
  top: 650px;
  background: no-repeat center center;
}
.helpButton {
  top: 1150px;
  background: no-repeat center center;
}

.imgeSlide {
  position: absolute;
  width: 70%;
  height: 700px;
  top: 40%;
  left: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imges{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  text-align: center;
  line-height: 300px;

}
.imges img {
  position: absolute;
  width: 80vw;
  height: 100vw;
}

.mainArea {
  position: absolute;
  left: 0;
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #F1ECE2;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(13%);
      border-radius: 100px 0 0 100px;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(12%);
      border-radius: 100px 0 0 100px;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}
.mainAreaMenuButton {
  opacity: 1;
  position: absolute;
  border-radius: 20px;
  top: 5%;  
  left: 3%;
  height: 60px;
  width: 60px;
  transition: opacity 1s; /* 투명도 변화에 대한 트랜지션 설정 */
}
.mainAreaMenuButton:hover {
  cursor: pointer;
}
.mainAreaMenuButton.menuAreaMenuButtonHidden {
  opacity: 0; /* 숨김 상태에서는 투명하게 */
  pointer-events: none; /* 이벤트를 비활성화하여 숨겨진 상태에서의 클릭 이벤트를 방지 */
}

.subArea {
  position: absolute;
  right: 0;
  top: 0;
  width: 32%;
  height: 100%;
  background-color: #F1ECE2;
}
.loginZoon {
    z-index: 2;
    z-index: 2;
    position: fixed;
    background-color: #f7e2a8;
    border-radius: 50px 0 0 50px;
    width: 20vw;
    left: calc(100% - 0px);
    height: 170px;
}
.loginZoon.loginZoonMoveLeft {
  animation: loginZoonMoveLeft 1s ease-in-out forwards;
}
.loginZoon.loginZoonMoveRight {
  animation: loginZoonMoveRight 1s ease-in-out forwards;
}

@keyframes loginZoonMoveLeft {
  0% {
    position: absolute;
  }
  1% {
    transform: translateX(0);
  }
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}
@keyframes loginZoonMoveRight {
  0% {
    transform: translateX(-100%);
    position: absolute;
  }
  99% {
    transform: translateX(0);
    position: absolute;
  }
  100% {

    position: fixed;
  }
}

 .loginButton {
  position: absolute;
  background-color: #E37B58;
  border: none;
  width: 15vw;
  height: 100px;
  top: 35px;
  left: 20%;
  border-radius: 25px;

  color: white;
  font-size: 3em;
  font-weight: bolder;
  box-shadow: 0 0 10px black;
 }
 .loginButton:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: #b45839;
}

 /* ----------------------------------------------------------- */

 .container2 {
  position: absolute;
  background-color: gray;
  width: inherit;
  display: flex;
  height: 1300px; 
  top: 1300px;

  margin: 0;
  padding: 0;
 }
 .top {
  position: inherit;
  border-radius: 100%;
  width: inherit;
  height: 14%;
  top: 0;
  z-index: 3;

  background-color:gray;
  box-shadow: 0 50px 200px rgba(255, 255, 255, 0.4);
 }
 .topBox {
  position: absolute;
  width: inherit;
  height: 50%;
  z-index: 4;
  background-color: gray;
 }
 .bottom{
  position: absolute;
  border-radius: 100%;
  width: inherit;
  height: 14%;
  bottom: 0;
  z-index: 3;

  background-color:gray;
 }

 .shadowBoxZoon {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 1100px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}
.shadowBoxZoon > .shadowBoxLeft, .shadowBoxZoon > .shadowBoxRight {
  position: absolute;
  width: calc(50% - 12.5vw);
  height: inherit;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
}

.shadowBoxRight {
  right: 0;
}

 .imgsZoon {
  position: absolute;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .img2, .img3, .imgsZoon > img{
  width: 25vw;
  height: 1100px;
  top: 150px;
 }
  .img1 {
  background-color: blueviolet;
 }
 .img1.imgNumber1Move1Right {
  animation: imgNumber1Move1Right 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move2Right {
  animation: imgNumber1Move2Right 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move3Right {
  animation: imgNumber1Move3Right 1s ease-in-out forwards;
 }
 .img1.imgNumber1Move1Left {
  animation: imgNumber1Move1Left 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move2Left {
  animation: imgNumber1Move2Left 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move3Left {
  animation: imgNumber1Move3Left 1s ease-in-out forwards;
 }

 .img2 {
  background-color: red;
 }
 .img2.imgNumber2Move1Right {
  animation: imgNumber2Move1Right 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move2Right {
  animation: imgNumber2Move2Right 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move3Right {
  animation: imgNumber2Move3Right 1s ease-in-out forwards;
 }
 .img2.imgNumber2Move1Left {
  animation: imgNumber2Move1Left 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move2Left {
  animation: imgNumber2Move2Left 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move3Left {
  animation: imgNumber2Move3Left 1s ease-in-out forwards;
 }

 .img3 {
  background-color: aquamarine;
 }
 .img3.imgNumber3Move1Right {
  animation: imgNumber3Move1Right 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move2Right {
  animation: imgNumber3Move2Right 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move3Right {
  animation: imgNumber3Move3Right 1s ease-in-out forwards;
 }
 .img3.imgNumber3Move1Left {
  animation: imgNumber3Move1Left 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move2Left {
  animation: imgNumber3Move2Left 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move3Left {
  animation: imgNumber3Move3Left 1s ease-in-out forwards;
 }

 @keyframes imgNumber1Move1Right {
  0% {
    transform: translateX(0vh);
    z-index: 2;

  }
  100% {
    transform: translateX(37vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move2Right {
  0% {
    transform: translateX(37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(74.14vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move3Right {
  0% {
    transform: translateX(74vw);
    z-index: 1;

  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
 }
 @keyframes imgNumber1Move1Left {
  0% {
    transform: translateX(0);
    z-index: 1;

  }
  100% {
    transform: translateX(74.14vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber1Move2Left {
  0% {
    transform: translateX(37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move3Left {
  0% {
    transform: translateX(74.14vw);
    z-index: 2;

  }
  100% {
    transform: translateX(37vw);
    z-index: 2;
  }
 }

 @keyframes imgNumber2Move1Right {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;
  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move2Right {
  0% {
    transform: translateX(0);
    z-index: 2;
  }
  100% {
    transform: translateX(37vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move3Right {
  0% {
    transform: translateX(37vw);
    z-index: 1;
  }
  100% {
    transform: translateX(-37.5vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber2Move1Left {
  0% {
    transform: translateX(-37.5vw);
    z-index: 1;

  }
  100% {
    transform: translateX(37vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber2Move2Left {
  0% {
    transform: translateX(0);
    z-index: 2;

  }
  100% {
    transform: translateX(-37.5vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move3Left {
  0% {
    transform: translateX(37vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }

 @keyframes imgNumber3Move1Right {
  0% {
    transform: translateX(-75vw);
    z-index: 2;

  }
  100% {
    transform: translateX(-37vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move2Right {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move3Right {
  0% {
    transform: translateX(0);
    z-index: 1;

  }
  100% {
    transform: translateX(-75vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber3Move1Left {
  0% {
    transform: translateX(-75vw);
    z-index: 1;

  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
 }
 @keyframes imgNumber3Move2Left {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(-75vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move3Left {
  0% {
    transform: translateX(0);
    z-index: 2;

  }
  100% {
    transform: translateX(-37vw);
    z-index: 2;
  }
 }


 .container2ButtomZoon {
  z-index: 4;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30%;
  bottom: 35%;
  display: flex;
  justify-content: center; /* 가운데 정렬을 활성화합니다. */
  align-items: center;

 }
 .lefttMoveButton:hover,  .rightMoveButton:hover {
  cursor: pointer;
  opacity: 0.7;
 }
 .lefttMoveButton {
  position: absolute;
  left: 5%;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  font-size: 2vw;
  border: none;
  opacity: 0.5;
  box-shadow: 0 0 100px black;
 }
 .rightMoveButton {
  position: absolute;
  left: 90%;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  font-size: 2vw;
  border: none;
  opacity: 0.5;
  box-shadow: 0 0 100px black;
 }

 footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  text-align: center;
  line-height: 200px;
  background-color: #1c1c1c;
  box-shadow: 0 10px 100px black;
  font-size: 1.2em;
  z-index: 10;

  color: white;
  margin: 0;
  padding: 0;
}
footer > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 2300px) {
  .imges img {
    position: absolute;
    width: 80vw;
    height: 80vw;
  }
}
@media screen and (min-width: 3505px) {
  .imges img {
    position: absolute;
    width: 80vw;
    height: 50vw;
  }
}
@media screen and (min-width: 3500px) {
  .imges img {
    position: absolute;
    width: 80vw;
    height: 40vw;
  }
}
@media screen and (min-width: 5000px) {
  @keyframes imgNumber1Move1Right {
    0% {
      transform: translateX(0vh);
      z-index: 2;
  
    }
    100% {
      transform: translateX(37.5vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber1Move2Right {
    0% {
      transform: translateX(37.5vw);
      z-index: 2;
  
    }
    100% {
      transform: translateX(75vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber1Move3Right {
    0% {
      transform: translateX(75vw);
      z-index: 1;
  
    }
    100% {
      transform: translateX(0);
      z-index: 1;
    }
   }
   @keyframes imgNumber1Move1Left {
    0% {
      transform: translateX(0);
      z-index: 1;
  
    }
    100% {
      transform: translateX(75vw);
      z-index: 1;
    }
   }
   @keyframes imgNumber1Move3Left {
    0% {
      transform: translateX(75vw);
      z-index: 2;
  
    }
    100% {
      transform: translateX(37.5vw);
      z-index: 2;
    }
   }
  
   @keyframes imgNumber2Move2Right {
    0% {
      transform: translateX(0);
      z-index: 2;
    }
    100% {
      transform: translateX(37.5vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber2Move3Right {
    0% {
      transform: translateX(37.5vw);
      z-index: 1;
    }
    100% {
      transform: translateX(-37.5vw);
      z-index: 1;
    }
   }
   @keyframes imgNumber2Move2Left {
    0% {
      transform: translateX(0);
      z-index: 2;
  
    }
    100% {
      transform: translateX(-37.5vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber2Move3Left {
    0% {
      transform: translateX(37.5vw);
      z-index: 2;
  
    }
    100% {
      transform: translateX(0);
      z-index: 2;
    }
   }

   @keyframes imgNumber3Move1Right {
    0% {
      transform: translateX(-75vw);
      z-index: 2;
  
    }
    100% {
      transform: translateX(-37.5vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber3Move2Left {
    0% {
      transform: translateX(-37.5vw);
      z-index: 2;
  
    }
    100% {
      transform: translateX(-75vw);
      z-index: 2;
    }
   }
   @keyframes imgNumber3Move3Left {
    0% {
      transform: translateX(0);
      z-index: 2;
  
    }
    100% {
      transform: translateX(-37.5vw);
      z-index: 2;
    }
   }

   .imges img {
    position: absolute;
    width: 80vw;
    height: 45vw;
  }
}





