body {
  margin: 0;
  padding: 0;
}
/* -----------------------bigContainer-------------------- */
.bigcontainer{
  position: relative;
  width: 100%;
  height: 225vh;
  margin: 0;
  padding: 0;
}
.bigcontainer > .container, .bigcontainer > .container2, .bigcontainer > footer {
  position: absolute;
}
/* -----------------------Container-------------------- */
.container {
  width: inherit;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container > header, .container > .imgeSlide, .container > .mainArea, .container > .subArea {
  position: inherit;
}
/* -----------------------menuArea---------------------------------- */
.menuArea {
  width: inherit;
  height: inherit;
  background-color: #886F5C;
}
.menuArea > nav {
  position: inherit;
}
/* -------------------------button------------------------------ */
.button {
  width: 9vw;
  height: 100%;
}
.button > button, .button > a {
  position: inherit;
  width: 3vw;
  height: 3vw;
  left: 3vw;
  background-size: cover;
  cursor: pointer;
}
.menuAreaButton {
  top: 5%;
  border: none;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center;
}
.msgButton {
  top: 20%;
  background: url('../img/icons8-통신-50.png') no-repeat center center;
}
.settingButton {
  top: 30%;
  background: url('../img/icons8-설정-50.png') no-repeat center center;
}
.helpButton {
  top: 90%;
  background: url('../img/icons8-도움-50.png') no-repeat center center;
}
/* ------------------------imgeSlide------------------------------- */
.imgeSlide {
  width: 70vw;
  height: 50%;
  top: 25%;
  left: 15vw;
  background: url('../img/header.png') no-repeat center 35%;
  background-size: cover;
  z-index: 2;
}
/* -----------------------mainArea--------------------------------- */
.mainArea {
  width: 70%;
  height: 100%;
  left: 0;
  top : 0;
  background-color: #D2C4B2;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.8);
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
    transform: translateX(0);
    border-radius: 0 0 0 0;
  }
  100% {
      transform: translateX(13%);
      border-radius: 5vw 0 0 5vw;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(12%);
      border-radius: 5vw 0 0 5vw;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}
.mainArea > .mainAreaMenuButton {
  position: inherit;
}
/*-----------------------mainAreaMenuButton-----------------------*/
.mainAreaMenuButton {
  height: 3vw;
  width: 3vw;
  top: 5%;
  left: 3vw;
  transition: opacity 1s;
  background: url('../img/menu.png') no-repeat center center;
  background-size: cover;
}
.mainAreaMenuButton:hover {
  cursor: pointer;
}
.mainAreaMenuButton.menuAreaMenuButtonHidden {
  opacity: 0;
  pointer-events: none;
}
/* -------------------------subArea-------------------------------- */
.subArea {
  width: 32vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #D2C4B2;
}
/* -------------------------loginZoon-------------------------------- */
.loginZoon {
    position: fixed;
    width: 20vw;
    height: 15vh;
    right: -20vw;
    background-color: #886F5C;
    border-radius: 5vh 0 0 5vh;
}
.loginZoon.loginZoonMoveLeft {
  animation: loginZoonMoveLeft 1s ease-in-out forwards;
}
.loginZoon.loginZoonMoveRight {
  animation: loginZoonMoveRight 1s ease-in-out forwards;
}
@keyframes loginZoonMoveLeft {
  0% {
    position: absolute;
  }
  1% {
    transform: translateX(0);
  }
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}
@keyframes loginZoonMoveRight {
  0% {
    transform: translateX(-100%);
    position: absolute;
  }
  99% {
    transform: translateX(0);
    position: absolute;
  }
  100% {

    position: fixed;
  }
}
/* -------------------------loginButton-------------------------------- */
 .loginButton {
  position: absolute;
  width: 15vw;
  height: 60%;
  top: 20%;
  left: 15%;
  background-color: #D2C4B2;
  border: none;
  border-radius: 3vh;

  /* 폰트 관련 코드 */
  color: white;
  font-size: 3vw;
  font-weight: bolder;
  box-shadow: 0 0 1vh black;
 }
 .loginButton:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: #ab917d;
}
 /* ------------------------container2----------------------------- */
 .container2 {
  width: inherit;
  height: 100vh;
  top: 100vh; 
  background-color: #D2C4B2;
 }
 .container2 > .top,  .container2 > .bottom, .container2 > .shadowBoxZoon, .container2 > .container2ButtomZoon {
  position: inherit;
 }
 /* -------------------------top--bottom---------------------------- */
.top, .bottom {
  width: inherit;
  height: 14%;
  border-radius: 100%;
  background-color: #D2C4B2;
  z-index: 4;
}
 .top {
  top: 0;
 }
 .bottom{
  bottom: 0;

 }
 .top > .topBox, .bottom > .bottomBox {
  position: inherit;
  width: inherit;
  height: 50%;
  background-color: rgb(210, 196, 178);
 }
/* -------------------------topBox--bottomBox---------------------------- */
 .topBox {
  top: 0;
 }
 .bottomBox {
  bottom: 0;
 }
 /* -------------------------shadowBoxZoon---------------------------- */
 .shadowBoxZoon {
  width: inherit;
  height: inherit;
  z-index: 3;

  /* leftshadow, rightshadow관련 코드 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .shadowBoxZoon > .shadowBoxLeft, .shadowBoxZoon > .shadowBoxRight {
  position: inherit;
  width: calc(50% - 12.5vw);
  height: 86vh;
  top: 7vh;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
/* -------------------------shadowBoxRight---------------------------- */
.shadowBoxRight {
  right: 0;
}
/* ---------------------------imgsZoon------------------------------ */
 .imgsZoon {
  width: inherit;
  height: inherit;

  /*이미지 관련 코드*/
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .img2, .img3, .imgsZoon > img{
  width: 25vw;
  height: 86vh;
  top: 10vh;
 }
  .img1 {
  background-color: blueviolet;
 }
 .img1.imgNumber1Move1Right {
  animation: imgNumber1Move1Right 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move2Right {
  animation: imgNumber1Move2Right 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move3Right {
  animation: imgNumber1Move3Right 1s ease-in-out forwards;
 }
 .img1.imgNumber1Move1Left {
  animation: imgNumber1Move1Left 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move2Left {
  animation: imgNumber1Move2Left 1s ease-in-out forwards;
 }  
 .img1.imgNumber1Move3Left {
  animation: imgNumber1Move3Left 1s ease-in-out forwards;
 }

 .img2 {
  background-color: red;
 }
 .img2.imgNumber2Move1Right {
  animation: imgNumber2Move1Right 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move2Right {
  animation: imgNumber2Move2Right 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move3Right {
  animation: imgNumber2Move3Right 1s ease-in-out forwards;
 }
 .img2.imgNumber2Move1Left {
  animation: imgNumber2Move1Left 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move2Left {
  animation: imgNumber2Move2Left 1s ease-in-out forwards;
 }  
 .img2.imgNumber2Move3Left {
  animation: imgNumber2Move3Left 1s ease-in-out forwards;
 }

 .img3 {
  background-color: aquamarine;
 }
 .img3.imgNumber3Move1Right {
  animation: imgNumber3Move1Right 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move2Right {
  animation: imgNumber3Move2Right 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move3Right {
  animation: imgNumber3Move3Right 1s ease-in-out forwards;
 }
 .img3.imgNumber3Move1Left {
  animation: imgNumber3Move1Left 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move2Left {
  animation: imgNumber3Move2Left 1s ease-in-out forwards;
 }  
 .img3.imgNumber3Move3Left {
  animation: imgNumber3Move3Left 1s ease-in-out forwards;
 }

 @keyframes imgNumber1Move1Right {
  0% {
    transform: translateX(0vh);
    z-index: 2;

  }
  100% {
    transform: translateX(37.1vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move2Right {
  0% {
    transform: translateX(37.1vw);
    z-index: 2;

  }
  100% {
    transform: translateX(74.14vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move3Right {
  0% {
    transform: translateX(74vw);
    z-index: 1;

  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
 }
 @keyframes imgNumber1Move1Left {
  0% {
    transform: translateX(0);
    z-index: 1;

  }
  100% {
    transform: translateX(74.14vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber1Move2Left {
  0% {
    transform: translateX(37.1vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber1Move3Left {
  0% {
    transform: translateX(74.14vw);
    z-index: 2;

  }
  100% {
    transform: translateX(37.1vw);
    z-index: 2;
  }
 }

 @keyframes imgNumber2Move1Right {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;
  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move2Right {
  0% {
    transform: translateX(0);
    z-index: 2;
  }
  100% {
    transform: translateX(37vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move3Right {
  0% {
    transform: translateX(37vw);
    z-index: 1;
  }
  100% {
    transform: translateX(-37.5vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber2Move1Left {
  0% {
    transform: translateX(-37.5vw);
    z-index: 1;

  }
  100% {
    transform: translateX(37vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber2Move2Left {
  0% {
    transform: translateX(0);
    z-index: 2;

  }
  100% {
    transform: translateX(-37.5vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber2Move3Left {
  0% {
    transform: translateX(37vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }

 @keyframes imgNumber3Move1Right {
  0% {
    transform: translateX(-75vw);
    z-index: 2;

  }
  100% {
    transform: translateX(-37vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move2Right {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(0);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move3Right {
  0% {
    transform: translateX(0);
    z-index: 1;

  }
  100% {
    transform: translateX(-75vw);
    z-index: 1;
  }
 }
 @keyframes imgNumber3Move1Left {
  0% {
    transform: translateX(-75vw);
    z-index: 1;

  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
 }
 @keyframes imgNumber3Move2Left {
  0% {
    transform: translateX(-37.5vw);
    z-index: 2;

  }
  100% {
    transform: translateX(-75vw);
    z-index: 2;
  }
 }
 @keyframes imgNumber3Move3Left {
  0% {
    transform: translateX(0);
    z-index: 2;

  }
  100% {
    transform: translateX(-37vw);
    z-index: 2;
  }
 }
/* ---------------------container2ButtomZoon------------------------ */
 .container2ButtomZoon {
  width: 100%;
  height: 30%;
  bottom: 35%;
  padding: 0;
  margin: 0;
  z-index: 4;

  display: inline-flex;
  align-items: center;

 }
 .container2ButtomZoon > .lefttMoveButton, .container2ButtomZoon > .rightMoveButton {
  position: inherit;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 100vw;
  cursor: pointer;
  opacity: 0.7;
  border: none;
  background-color: black;

  /*폰트 관련 코드*/
  font-size: 2vw;
  color: white;
 }
/* ------------------lefttMoveButton--rightMoveButton------------------ */
 .lefttMoveButton {
  left: 5vw;
 }
 .rightMoveButton {
  right: 5vw;
 }
/* ----------------------------footer------------------------------- */
footer {
  width: inherit;
  height: 25vh;
  bottom: 0;
  z-index: 4;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
  background-color: #886F5C;

  display: flex;
  align-items: center;
}
footer > span, footer > nav {
  position: inherit;
}
/* ----------------------------footer-spans------------------------------- */
.spans {
  left: 2.5vw;

  /*폰트 관련 코드*/
  font-size: 1.3vw;
  text-align: left;
  color: black;
}
footer > .spans > a {
  color: black;
  text-decoration: none;
}
footer > .spans > a:hover {
  color: white;
}
/* ----------------------------footer-nav------------------------------- */
footer > nav {
  width: 50vw;
  right: 2vw;

  display: flex;
  justify-content: space-around;

  /*폰트 관련 코드*/
  font-size: 1.3vw;
}
footer > nav > a {
 color: white;
 text-decoration: none;
}
footer > nav > a:hover {
 color: black;
}


