body {
    margin: 0;
    padding: 0;
}
.continer {
    width: 100vw;
    height: 100vh;
}
header {
    width: inherit;
    height: 7%;
    background-color: #fad9dc;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo > a {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo > a > img {
    margin-top: -0.2vw;
    margin-left: 4vw;
    width: 100%;
    filter: drop-shadow(-0.1vw 0.3vw 0.1vw rgba(0, 0, 0, 0.3));
}
.header-logo > .cake {
    width: 100%;
    height: 100%;
}
.header-logo > .cake {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo > .cake > a > img{
    width: 2.8vw;
    filter: drop-shadow(-0.1vw 0.3vw 0.1vw rgba(0, 0, 0, 0.2));
}
header > nav {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > nav > a {
    color: black;
    font-size: 1vw;
    text-decoration: none;
}
section > img:nth-child(1) {
    position: absolute;
    width: 100vw;
    height: 93vh;
    top: 7%;
    left: 0;
}
section > img{
    position: absolute;
    top: 18%;
    left: 13vw;
    width: 71vw;
}  