body {
    margin: 0;
    padding: 0;

    background-image: url('../img/아무것도없는\ 배경\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 없이 설정 */
}
.continer {
    width: 100vw;
    height: 100vh;
}
header {
    width: inherit;
    height: 7%;
    background-color: #fad9dc;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo > a {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo > a > img {
    margin-top: -0.2vw;
    margin-left: 2vw;
    width: 100%;
    filter: drop-shadow(-0.1vw 0.3vw 0.1vw rgba(0, 0, 0, 0.3));
}
.header-logo > .cake {
    width: 100%;
    height: 100%;
}
.header-logo > .cake {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo > .cake > a > img{
    width: 2.8vw;
    filter: drop-shadow(-0.1vw 0.3vw 0.1vw rgba(0, 0, 0, 0.2));
}
header > nav {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
header > nav > a {
    color: black;
    font-size: 1vw;
    text-decoration: none;
}
section > img {
    position: absolute;
    top: 18%;
    left: 13vw;
    width: 71vw;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.loginInputArea {
    position: absolute;
    top: 14%;
    left: 35vw;
    width: 30vw;
    height: 78vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.5vw;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.3s;
}
.loginInputAreaLogoSection {
    display: flex;
    justify-content: center;
}
.loginInputArea .loginInputAreaLogoSection img {
    position: absolute;
    top: 5%;
    width: 10vw;
}
.loginInputArea .loginInputAreaLogoSection > img:nth-child(2) {
    position: absolute;
    top: 22%;
    width: 13vw;
}
.line {
    position: absolute;
    top: 38%;
    left: 7.7vw;
    width: 15vw;
    border: 0.1vw solid rgb(228, 253, 255);
}
.idText {
    position: absolute;
    top: 45%;
    left: 3vw;
    color: #f29faa;
    font-weight: bold;
    font-size: 1.2vw;
}
.idInput {
    position: absolute;
    top: 45.5%;
    left: 9vw;
    width: 17vw;
    height: 5vh;
    font-size: 1.2vw;
    border: none;
    border-bottom: 0.15vw solid pink;
    color: #f29faa;
    background: none;
    padding-left: 1vw;
}
.passwordText {
    position: absolute;
    top: 61%;
    left: 3vw;
    color: #f29faa;
    font-weight: bold;
    font-size: 1.2vw;  
}
.passwordInput {
    position: absolute;
    top: 61.5%;
    left: 9vw;
    width: 17vw;
    height: 5vh;
    font-size: 1.2vw;
    border: none;
    border-bottom: 0.15vw solid pink;
    color: #f29faa;
    text-shadow: 0.1vw 0.2vw 0.3vw rgba(190, 190, 190, 0.8);
    background: none;
    padding-left: 1vw;
}
.loginInputArea input:focus {
    outline: none;
}
.loginInputArea input[type="submit"] {
    position: absolute;
    top: 76%;
    left: 10vw;
    width: 10vw;
    height: 7vh;
    background-color: rgb(255, 231, 234);
    border: none;
    border-radius: 1vw;
    font-size: 1.3vw;
    color: #E39CA6;
    font-weight: bold;
    box-shadow: 0.14vw 0.14vw 0vw rgba(0, 0, 0, 0.2);
}
.loginInputArea input[type="submit"]:active {
    background-color: #f0cbcf;
    box-shadow: inset 0.1vw 0.13vw 0 rgba(0, 0, 0, 0.2);
}
.findText {
    position: absolute;
    top: 90%;
    left: 5vw;
}
.findText a {
    text-decoration: none;
    color: skyblue;
}
.signinText {
    position: absolute;
    top: 90%;
    right: 7vw;
}
.signinText a {
    text-decoration: none;
    color: skyblue;
}