/* Container */
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%; 
}

.menuArea {
  position: relative;
  background-color: #E37B58;
  width: 100%;
  height: 800px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 그리드 컨테이너를 자동으로 채우면서 최소 200px의 너비를 가진 열들로 설정 */
  gap: 10px; /* 그리드 아이템 간의 간격 설정 */
  padding: 20px;
}
.menuAreaButton {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 5%;
  left: 3%;
  height: 60px;
  width: 60px;
}
.button1 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 20%;
}
.button2 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 30%;
}
.button3 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 40%;
}
.button4 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 50%;
}
.button5 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 75%;
}
.button6 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 90%;
}

.mainArea {
  position: absolute;
  left: 0;
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #F1ECE2;
}
.mainArea.mainAreaMoveRight {
  animation: mainAreaMoveRight 1s ease-in-out forwards;
}
.mainArea.mainAreaMoveLeft {
  animation: mainAreaMoveLeft 1s ease-in-out forwards;
}
@keyframes mainAreaMoveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(15%);
      border-radius: 100px 0 0 100px;
  }
}
@keyframes mainAreaMoveLeft {
  0% {
      transform: translateX(15%);
      border-radius: 100px 0 0 100px;
  }
  100% {
      transform: translateX(0);
      border-radius: 0 0 0 0;
  }
}

.mainAreaMenuButton {
  opacity: 1;
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 5%;
  left: 3%;
  height: 60px;
  width: 60px;
  transition: opacity 1s; /* opacity 변화에 대한 transition 설정 */
}
.mainAreaMenuButton.mainAreaMenuButtonHidden {
  opacity: 0; /* 숨김 상태에서는 투명하게 */
  pointer-events: none; /* 이벤트를 비활성화하여 숨겨진 상태에서의 클릭 이벤트를 방지 */
}

.subArea {
  position: absolute;
  left: 65.09%;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: gray;
  border-radius: 100px 0px 0px 100px;
}
.subLoginButton {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 15%;
  left: 35%;
  height: 70px;
  width: 40%;
}

footer {
  position: absolute;
  border: 1px solid black;
  text-align: center;
  line-height: 150px;
  bottom: 0%;
  left: 0;
  width: 100%;
}




