/* Container */
body {
    margin: 0;
}
.container {
    position: relative;
    background-color: #E37B58;
    width: 100%;
    height: 800px;
}
.rectangle {
    position: absolute;
    left: 0; /* 메뉴창 크기(언제든지 바꾸기 ㄱㄴ) */
    top : 0;
    width: 68%;
    height: 100%;
    background-color: #F1ECE2;
    border-radius: 100px 0px 0px 100px;
}
.rectangle.animate {
    animation: menuMove 1s ease-in-out both;
}
@keyframes menuMove {
    0% {
        left: 0;
      }
    10% {
        left: 20px;
      }
    20% {
        left: 40px;
      }
    30% {
        left: 60px;
      }
    40% {
        left: 80px;
      }
    50% {
        left: 100px;
      }
    60% {
        left: 120px;
      }
    70% {
        left: 140px;
      }
    80% {
        left: 160px;
      }
    90% {
        left: 180px;
      }
    100% {
        left: 180px;
      }
}

#menuButton{
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 50px;
  left: 50px;
  height: 70px;
  width: 70px;
}

.menuButton {
  border: 1px solid red;
}






.rectangle2 {
    position: absolute;
    left: 68%;
    top: 0;
    width: 32%;
    height: 100%;
    background-color: gray;
    border-radius: 100px 0px 0px 100px;
}
.loginButton {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 15%;
  left: 35%;
  height: 70px;
  width: 40%;
}

footer {
    position: absolute;
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
    bottom: -150px;
    left: 0;
    height: 150px;
    width: 100%;
}

