/* Container */
body {
  margin: 0;
}
.wepContainer {
  width: 100%;
  height: 100%;
}
.offButton {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  top: 50px;
  left: 50px;
  height: 70px;
  width: 70px;
}

.container {
  position: relative;
  background-color: #E37B58;
  width: 100%;
  height: 800px;
}
.button1 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 15%;
}
.button2 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 25%;
}
.button3 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 35%;
}
.button4 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 45%;
}
.button5 {
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  left: 3%;
  top: 55%;
}


.rectangle {
  position: absolute;
  left: 0; /* 메뉴창 크기(언제든지 바꾸기 ㄱㄴ) */
  top : 0;
  width: 70%;
  height: 100%;
  background-color: #F1ECE2;
  border-radius: 100px 0px 0px 100px;
}
.rectangle.animate {
  animation: rectangleMove 1s ease-in-out both;
}
.rectangle.animateoff {
  animation: rectangleMove2 1s ease-in-out both;
}


.menuButton{
opacity: 1;
position: absolute;
border: 1px solid black;
border-radius: 20px;
top: 50px;
left: 50px;
height: 70px;
width: 70px;
}
.menuButton.hiddenButtonani {
  animation: hiddenButton 1s ease-in both;
}
.menuButton.hiddenButtonanioff {
  animation: hiddenButtonoff 1s ease-in both;
}


.rectangle2 {
  position: absolute;
  left: 65.09%;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: gray;
  border-radius: 100px 0px 0px 100px;
}
.loginButton {
position: absolute;
border: 1px solid black;
border-radius: 20px;
top: 15%;
left: 35%;
height: 70px;
width: 40%;
}

footer {
  position: absolute;
  border: 1px solid black;
  text-align: center;
  line-height: 150px;
  bottom: 0%;
  left: 0;
  height: 150px;
  width: 100%;
}

@keyframes rectangleMove {
  0% {
      transform: translateX(0);
    }
  100% {

      transform: translateX(15%);
    }
}
@keyframes rectangleMove0ff {
  0% {
      transform: translateX(15%);
    }
  100% {

      transform: translateX(0);
    }
}

@keyframes hiddenButton {
  0% {
      opacity: 1;
    }
  100% {
      pointer-events : none;
      opacity: 0;
    }
}
@keyframes hiddenButtonoff {
  0% {
      opacity: 0;
    }
  100% {
      pointer-events : none;
      opacity: 1;
    }
}



