body {
    margin: 0;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #E37B58;
}

.topRectangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 33%;
    background-color: #F1ECE2;
    border-radius: 0 0 90px 0;
}
.leftRectangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 26%;
    height: 100%;
    background-color: #F1ECE2;
}
.bottomRectangle {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 35%;
    height: 54%;
    background-color: #F1ECE2;
    border-radius: 0 90px 0 0;
}

.loginTextArea {
    position: absolute;
    left: 23%;
    top: 33%;
    width: 14%;
    height: 13%;
    background-color: #E37B58;
    border-radius: 90px 0 0 90px;
}
.loginTextArea .loginText {
    position: absolute;
    left: 20%;
    font-size: 2.1em;
    color: white;
    font-weight: bold;
}
.signinTextArea {
    position: absolute;
    left: 23%;
    top: 47%;
    width: 14%;
    height: 13%;
}
.signinTextArea .signinText {
    position: absolute;
    left: 20%;
    font-size: 2.1em;
    color: #999999;
    font-weight: bold;
}

.logoArea {
    position: absolute;
    left: 52%;
    top: -2%;
    width: 30%;
    height: 34%;
}
.logoArea .loginImg {
    width: 99%;
}

.inputArea {
    position: absolute;
    left: 45%;
    top: 40%;
    width: 40%;
    height: 35%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form-group {
    margin-bottom: 10%;
}
label {
    display: block;
    font-weight: bold;
    padding-bottom: 2%;
    font-size: 1.2em;
    text-align: center;
}
.passwordLabel {
    position: absolute;
    top: 43%;
    left: 45%;
}
input[type="email"] {
    width: 95%;
    padding: 2.5%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.4); 
}
input[type="email"]::placeholder {
    text-align: center;
    font-size: 76.923%;
}
input[type="password"] {
    position: absolute;
    top: 55%;
    width: 85.5%;
    padding: 2.5%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.4); 
}
input[type="password"]::placeholder {
    text-align: center;
    font-size: 76.923%;
}
#toggle-password-visibility {
    position: absolute;
    top: 56%;
    right: 7%;
    width: 12%;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
}
.inputArea button {
    position: absolute;
    right: 9%;
    bottom: 7%;
    width: 15%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #E37B58;
    border: none;
    border-radius: 30px;
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e9e5e3;
}
.rememberPassword {
    position: absolute;
    left: 6%;
    bottom: 12%;
    color: red;
    text-decoration: none;
    font-size: 1.3em;
}
#toggle-password-visibility .passwordOffIcon {
    position: absolute;
    right: 10%;
    top: 18%;
    width: 35%;
}

.otherLoginArea {
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 65%;
    height: 9%;
    background-color: #D9D9D9;
}
.orLogin {
    position: absolute;
    left: 18%;
    top: 25%;
    width: 20%;
    height: 50%;
    font-size: 1.6em;
    text-align: center;
    color: white;
    font-weight: bold;
}
.google {
    position: absolute;
    left: 40%;
    top: 25%;
    width: 20%;
    height: 50%;
    font-size: 1.6em;
    text-align: center;
    color: white;
    font-weight: bold;
}
.facebook {
    position: absolute;
    left: 62%;
    top: 25%;
    width: 20%;
    height: 50%;
    font-size: 1.6em;
    text-align: center;
    color: white;
    font-weight: bold;
}